.footer {
  background: #111115;
  padding-bottom: 50px;

  &_container {
    padding-top: 40px;
  }

  &_logo-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_logo {
    margin: 0;
  }

  &_subscribe {
    margin: 0;
    @include font-family();
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 14px;
    color: #ffffff;
  }

  &_input {
    height: 42px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    border: 0.7px solid #fa6f32;
    border-radius: 2px;
    color: #ffffff;
  }

  &_input:focus {
    border: 0.7px solid $green;
    outline: $green;
  }

  &_input::placeholder {
    @include font-family();
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #bdbdbd;
  }
  &_input-submit {
    height: 42px;
    padding: 10px 39px;
    background: #f1f3f2;
    border: 1px solid $green;
    border-radius: 5px;
    @include font-family();
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $green;
    cursor: pointer;
  }

  &_button-two {
    margin-top: 36px;
  }

  &_navigation {
    display: flex;
    justify-content: space-between;
  }

  &_social-networks {
    margin-top: 34px;
    margin-right: 115px;
  }

  &_social-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }

  &_social-icon:active {
    background: $green;
  }

  &_design {
    margin-top: auto;

    @include font-family();
    font-weight: lighter;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
  }

  &_design:active {
    color: $green;
    text-decoration: underline;
  }
}

.footer-nav {
  margin-top: auto;
}

.social-icon-link {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @include font-family();
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.social-icon-link:active {
  color: $green;
}

.social-icon-list {
  padding-left: 0;
  margin: 0;
}

.footer-nav-list {
  margin-left: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1599px) {
  .footer_container {
    padding: 40px 30px 0 30px;
  }
}

@media (max-width: 999px) {
  .footer_container {
    padding: 12px 20px;
  }

  .footer {
    &_logo {
      @include font-family();
      font-weight: 400;
      font-size: 19px;
      line-height: 120%;
      text-align: center;

      color: #ffffff;

      width: 82px;
      height: 52px;
      border: 1px solid #ffffff;
      border-radius: 2px;
    }
    &_icon-bamboo {
      position: absolute;
      top: 23px;
      left: 10px;
    }
  }

  .footer {
    &_subscribe {
      display: none;
    }
    &_input {
      display: none;
    }
    &_input-submit {
      display: none;
    }
  }

  .footer_logo-form {
    display: flex;
    // display: none;
    // display: inline;
  }

  .button-two {
    // margin: 0;
  }

  .footer_button-two {
    margin-top: 300px;
    // margin: 0;
  }
}
