.footer {
  background: #111115;
  color: #ffffff;
}

.footer_navigation {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-between;
}

.footer_logo-form {
  display: flex;
  justify-content: space-between;
}

.footer_social-link {
  margin-bottom: 20px;
  padding-left: 5px;
  // display: block;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 26px;
  height: 26px;
  margin-right: 12px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  cursor: pointer;
}

.footer_input {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 7px solid;

  border-image: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
  border-radius: 2px;
}

.footer_input::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  inset: 0;
  padding: 0.7px;
  background: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer_input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.social-icon-link {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
}
