.footer {
  background: #111115;

  &_container {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &_logo {
    display: block;
    width: 82px;
    height: 52px;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
