.header {
  background: #000000;
}

.header_title {
  display: none;
}

.designed {
  display: block;
  margin-left: auto;
  right: 0;
  color: $gray_light;
  @include font-family();
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.designed:active {
  color: #f9804b;
}

.header_container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 999px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .header_container {
    position: relative;
    height: 34px;
    padding: 2px 0;
  }

  .designed {
    display: none;
  }

  .header_nav {
    position: absolute;
    top: 0;
  }

  .header_nav.open {
    max-width: 600px;
    height: 400px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.9);
  }
}

@media (max-width: 639px) {
  .header_nav.open {
    max-width: 300px;
  }
}
