.designed {
  margin-left: auto;
  color: $gray_light;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.header_container {
  display: flex;
  align-items: center;
}
