.hero {
  background: #283035;
  background-image: url("../assets/images/g-panda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hero_container {
  position: relative;
}

.ellipse {
  position: absolute;
  right: 108px;
  top: 12px;

  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: $orange;
}

.watch {
  position: absolute;
  right: 0;
  top: 86px;

  @include font-family();
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  width: 500px;
  padding: 0;
  margin: 0;
}

.watch span {
  color: $yellow;
}

.btn_hero {
  position: absolute;
  top: 546px;
  right: 100px;
}

.hero_title {
  display: none;
}

@media (max-width: 1599px) {
  .hero {
    height: 504px;
  }

  .btn_hero {
    top: 403px;
  }

  .ellipse {
    width: 367px;
    height: 367px;
    top: -14px;
    right: 147px;
  }

  .watch {
    top: 42px;
    font-size: 85px;
  }
}
