.hero {
  background-image: url(../assets/images/g-panda.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero_container {
  position: relative;
}

.ellipse {
  position: absolute;
  right: 108px;
  top: 12px;

  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: $orange;
}

.watch {
  position: absolute;
  right: 0;
  top: 86px;

  @include font-family();
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  width: 500px;
  padding: 0;
  margin: 0;
}

.watch span {
  color: $yellow;
}

.btn_hero {
  position: absolute;
  top: 546px;
  right: 100px;
}
