.nav_link {
  color: $gray_light;
}

.nav {
  &_list {
    display: flex;
    padding: 0;
  }

  &_item {
    margin-right: 58px;
  }

  &_link {
    @include font-family();
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.3s;
  }

  &_link:hover {
    color: #f9804b;
  }

  &_link:active {
    color: $green;
  }

  &_link.active {
    color: #f9804b;
  }

  .header_nav-list {
    margin-left: 35px;
  }
}

@media (max-width: 1599px) {
  .nav_item {
    margin-right: 48px;
  }
}

@media (max-width: 999px) {
  .nav {
    &_item {
      margin-right: 37px;
    }
  }

  .header_nav-list {
    display: none;
    margin-left: 39px;
  }
}

@media (max-width: 639px) {
  .nav_link {
    @include font-family();
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .nav_item {
    margin: 0;
    // width: 280px;
    // display: flex;
    // justify-content: space-between;
  }
}
