.nav_link {
  color: $gray_light;
}

.nav {
  &_list {
    display: flex;
    padding: 0;
    margin-left: 63px;
  }

  &_item {
    margin-right: 58px;
  }

  &_link {
    @include font-family();
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    // text-decoration: none;
  }
}
