*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  margin: 0 auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}
