.donation {
  &_diagram {
    position: relative;
  }

  &_list {
    padding: 0 0 0 26px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &_link {
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 450%;
    color: $black_blue;
    cursor: pointer;
  }

  &_link:hover::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 20px;
    width: 22px;
    height: 22px;
    border: 1px solid #fe9013;
    border-radius: 50%;
  }

  &_link-number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 450%;
    color: transparent;
    background-image: url("../assets/svg/dollar.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_link-item {
    position: absolute;
    width: 10px;
    height: 10px;
    background: $yellow;
    border-radius: 50%;
    z-index: 10;
  }

  &_line {
    position: absolute;
    margin-left: 24px;
    top: 13px;
    width: 916px;
    height: 2px;
    text-align: center;
    z-index: 5;
    background: #72828e;
  }
}
