.logo {
  position: relative;
  padding: 3.55px 4.75px;
  margin-top: 14px;
  margin-bottom: 14px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;

  color: #ffffff;

  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.icon_bamboo {
  position: absolute;
  top: 23px;
  left: 10px;
}
