.logo {
  position: relative;
  padding: 3.55px 4.75px;
  margin-top: 14px;
  margin-bottom: 14px;

  @include font-family();
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;

  color: #ffffff;

  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.icon_bamboo {
  position: absolute;
  top: 23px;
  left: 10px;
}

.header-logo {
  margin-right: 28px;
}

@media (max-width: 999px) {
  .header-logo {
    margin: 0;
    margin-bottom: 2px;
    font-size: 12px;
    border: none;
    width: 47px;
    height: 29px;
  }

  .icon_bamboo {
    width: 6px;
    height: 15px;
    top: 16px;
    left: 5px;
  }

  .header-logo.active {
    padding: 3.55px 4.75px;
    margin-top: 10px;
    margin-left: 10px;
    width: 82px;
    height: 52px;
    border: 1px solid #fe9013;
    border-radius: 2px;
    @include font-family();
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
  }
}
