.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  transition: 0.3s;
  z-index: 50;
}

.overlay.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
